.loader
  .loader__block

mixin iconUser
  svg(viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg').iconUser
    path.path-fill(d='M12 1c6.1 0 11 4.9 11 11s-4.9 11-11 11S1 18.1 1 12 5.9 1 12 1zm0-1C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0z')
    path.path-stroke(d='M21 19.1c-.2-.1-.3-.2-.5-.2-.5-.1-3.5-1.1-3.6-1.2-.1 0-1.9-1.9-2-2-.4-.4-.1-.7.3-1 .4-.3.5-1.3.7-1.9 0-.1.1-.3.3-.3.1 0 .2-.1.3-.2.1-.4.6-2.4.6-2.5 0-.2-.1-.3-.2-.3s-.2-.1-.2-.3c0-.5 0-2.6-.2-3.2-.3-.7-.9-1.1-1.6-1.5-.6-.3-1.2-.4-1.8-.6-1.3-.3-2.4 0-3.4.9-.2 0-.2.1-.3.2-.1.3-.3.5-.5.6-.8.5-.4 3-.4 3.3 0 .2 0 .3-.2.4-.2 0-.3.2-.3.4s.7 2.7.9 2.8c.1 0 .2.1.2.3 0 .2.4 1.6.7 1.9.3.3.7.7 0 1.3-.1.1-1.9 1.8-2.3 1.9-.2.1-3.8 1.1-4.4 1.6')

mixin iconSearch
  svg(viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg').iconSearch
    path.path-fill(d='M7.48 1c1.8 0 3.6.8 4.8 2.1 2.4 2.6 2.3 6.8-.4 9.2-1.2 1.1-2.8 1.7-4.4 1.7-1.8 0-3.6-.8-4.8-2.1-2.4-2.6-2.2-6.7.4-9.2C4.28 1.6 5.88 1 7.48 1zm0-1c-1.8 0-3.6.7-5.1 2-3 2.8-3.2 7.6-.4 10.6 1.5 1.6 3.5 2.4 5.5 2.4 1.8 0 3.6-.7 5.1-2 3-2.8 3.2-7.6.4-10.6C11.48.8 9.48 0 7.48 0z')
    path.path-stroke(d='M12.28 11.9l-.8.7 6.8 7.4.8-.7-6.8-7.4z')

mixin iconClose
  svg(viewBox='0 0 29 29', xmlns='http://www.w3.org/2000/svg').iconClose
    path.path-stroke(d='M7.071 21.213L21.213 7.071M7.071 7.071l14.142 14.142')

mixin iconArrowList
  svg(viewBox='0 0 12 12', xmlns='http://www.w3.org/2000/svg').iconArrowList
    path.path-stroke(d='M1 1l5 5-5 5M6 1l5 5-5 5')

mixin iconSertificate
  svg(viewBox='0 0 21 33', xmlns='http://www.w3.org/2000/svg').iconSertificate
    path.path-stroke(d='M4 17v14l6.5-2.8L17 31V17')
    circle.path-stroke(cx='10.5', cy='10.5', r='9.5')
    circle.path-stroke(cx='10.5', cy='10.5', r='4.5')

mixin iconArrowUp
  svg(viewBox='0 0 28 17', xmlns='http://www.w3.org/2000/svg').iconArrowUp
    path.path-stroke(d='M2 14.5L14 2l11.5 12.5')
  
mixin iconArrowUp2
  svg(viewBox='0 0 11 13', xmlns='http://www.w3.org/2000/svg').iconArrowUp2
    path.path-stroke(d='M10 6.5L5.5 2 1 6.5M5.5 2v11')

mixin iconArrowRight
  svg(viewBox='0 0 23 12', xmlns='http://www.w3.org/2000/svg').iconArrowRight
    path.path-stroke(d='M1 6h20')
    path.path-stroke(d='M16 1l6 5-6 5' stroke-linejoin='round')
      
mixin iconArrowLeft
  svg(viewBox='0 0 23 12', xmlns='http://www.w3.org/2000/svg').iconArrowLeft
    path.path-stroke(d='M22 6H2')
    path.path-stroke(d='M7 1L1 6l6 5' stroke-linejoin='round')

mixin iconShare(width, height)
  svg(viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg' width= width, height= height).iconShare
    path(fill='#CECDCD', d='M0 0h24v24H0z')
    circle(r='2.5', transform='matrix(-1 0 0 1 16 6)', stroke='#000')
    path(d='M14 7l-6 4M14 17l-6-4', stroke='#000')
    circle(r='2.5', transform='matrix(-1 0 0 1 16 18)', stroke='#000')
    circle(r='2.5', transform='matrix(-1 0 0 1 6 12)', stroke='#000')

mixin iconArrowFilter
  svg(viewBox='0 0 14 8', xmlns='http://www.w3.org/2000/svg').iconArrowFilter
    path.path-fill(d='M7 7l-.707.707a1 1 0 0 0 1.414 0L7 7zM.293 1.707l6 6 1.414-1.414-6-6L.293 1.707zm7.414 6l6-6L12.293.293l-6 6 1.414 1.414z')

mixin iconCheck
  svg(viewBox='0 0 8 6', xmlns='http://www.w3.org/2000/svg').iconCheck
    path.path-stroke(d='M1 2.714L2.714 5 7 1')

mixin iconHeart
  svg(viewBox='0 0 27 25', xmlns='http://www.w3.org/2000/svg').iconHeart
    path.path-stroke(clip-rule='evenodd', d='M13.5 5.31A6.85 6.85 0 0 0 7.25 1C3.72 1 1 3.78 1 7.47c0 5.07 5.27 9 12.5 16.53C20.73 16.46 26 12.54 26 7.47 26 3.77 23.28 1 19.75 1a6.85 6.85 0 0 0-6.25 4.31z')

mixin iconAdvertAdd
  svg(viewBox='0 0 96 96', xmlns='http://www.w3.org/2000/svg').iconAdvertAdd
    path.path-fill(fill-rule='evenodd', clip-rule='evenodd', d='M4 4h88v88H30v4h66V0H0v66h4V4zm9 62h4v13h13v4H17v13h-4V83H0v-4h13V66zm11-42h48v4H24v-4zm48 12H24v4h48v-4zM24 48h48v4H24v-4zm36 12H24v4h36v-4z')

mixin iconEdit
  svg(viewBox='0 0 13 14', xmlns='http://www.w3.org/2000/svg').iconEdit
    path.path-fill(fill-rule='evenodd', clip-rule='evenodd', d='M12.9551 2.7444L10.0449.0002l-7.0898 7.52 2.9101 2.7442 7.0899-7.52zM2.3633 8.147l2.9101 2.7441-3.8183 1.1345.9082-3.8786z')

mixin iconEye
  svg(viewBox='0 0 16 7', xmlns='http://www.w3.org/2000/svg').iconEye
    path.path-stroke(d='M.7518 3.5c.058-.049.122-.102.1917-.1585.391-.3168.958-.7403 1.6583-1.1636C4.0097 1.327 5.9182.5 8 .5c2.0818 0 3.9903.827 5.3982 1.678a14.9044 14.9044 0 0 1 1.6583 1.1635c.0696.0565.1336.1095.1917.1585-.0581.049-.1221.102-.1917.1585a14.9044 14.9044 0 0 1-1.6583 1.1636C11.9903 5.673 10.0818 6.5 8 6.5c-2.0818 0-3.9903-.827-5.3982-1.678A14.9094 14.9094 0 0 1 .9435 3.6586 13.011 13.011 0 0 1 .7518 3.5z')
    circle.path-fill(cx='8', cy='3', r='3')

mixin iconStar
  svg(viewBox='0 0 20 19', xmlns='http://www.w3.org/2000/svg').iconStar
    path.path-fill(fill-rule='evenodd', clip-rule='evenodd', d='M16.18 19l-1.635-7.029L20 7.244l-7.191-.617L10 0 7.191 6.627 0 7.244l5.455 4.727L3.82 19 10 15.272 16.18 19z')

mixin iconStop
  svg(viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg').iconStop
    path.path-fill(fill-rule='evenodd', clip-rule='evenodd', d='M15.7285 3h-7.457L3 8.272v7.456l5.2715 5.271h7.457l5.2735-5.271V8.272L15.7285 3zM17 10H7v3h10v-3z')

mixin iconTrash
  svg(viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg').iconTrash
    path.path-fill(fill-rule='evenodd', clip-rule='evenodd', d='M17.998 7h-12v12c0 1.104.896 2 2.001 2h7.999c1.106 0 2-.896 2-2V7zm-3.499-4.001h-5L8.5 4H5.999C5.448 4 5 4.448 5 4.999V6h14V4.999C19 4.448 18.552 4 17.999 4H15.5l-1.001-1.001z')

mixin iconExit
  svg(viewBox='0 0 19 24', xmlns='http://www.w3.org/2000/svg').iconExit
    path.path-fill(d='M17 23H1V1h16v6h1V0H0v24h18v-7h-1v6z')
    path.path-fill(d='M19 12l-4-3v2H5v2h10v2l4-3z')

mixin iconRemoveFavorite
  svg(viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg').iconRemoveFavorite
    path.path-fill(fill-rule='evenodd', clip-rule='evenodd', d='M12 8c-.67-1.732-2.547-3-4.5-3C4.957 5 3 6.932 3 9.5c0 3.529 3.793 6.258 9 11.5 5.207-5.242 9-7.971 9-11.5C21 6.932 19.043 5 16.5 5c-1.955 0-3.83 1.268-4.5 3z')
    path.path-stroke(d='M8.4648 8.5356l7.0711 7.0711M15.5352 8.5356l-7.0711 7.0711')

mixin iconMail
  svg(viewBox='0 0 16 13', xmlns='http://www.w3.org/2000/svg').iconMail
    path.path-stroke(d='M1 1.5L8 7l7-5.5')
    rect.path-stroke(x='.5', y='.5', width='15', height='12', rx='1.5')

mixin iconPhone
  svg(viewBox='0 0 17 16', xmlns='http://www.w3.org/2000/svg').iconPhone
    path.path-fill(d='M3.3356 1.223l1.6678 3.1592-.834.8152c-.2084.102-.3126.3058-.3126.5096-.1043.102-.1043.3057-.1043.4077v.2038c.1043.3057.2085.7134.417 1.121.1042.3057.417.7134.7296 1.121.3128.4077.7297.9172 1.3551 1.4268.5212.6114 1.0424 1.0191 1.5636 1.3248.417.3057.8339.6115 1.1466.7134.417.2038.6254.3057.9381.3057h.417c.1042 0 .3127 0 .4169-.1019.2085-.1019.417-.2038.5212-.3057l.9381-.9172.2085.1019 2.9187 1.6306-2.0848 2.0382-.1042.1019c-.1043 0-.1043 0-.2085.1019H12.7169c-.1042 0-.3127 0-.9381-.1019-.417-.1019-.9381-.2038-1.5636-.5096-.6254-.3057-1.4593-.7133-2.2932-1.2229-.8339-.5096-1.772-1.3248-2.7101-2.242-.7297-.7134-1.4594-1.4268-1.8763-2.1402-.5212-.5095-.9381-1.121-1.2509-1.7325-.3127-.5095-.5211-1.019-.6254-1.5286-.2085-.4077-.3127-.8153-.3127-1.121-.1042-.3058-.1042-.5096-.1042-.6115V3.465s0-.102.1042-.2038c0-.102.1042-.102.1042-.102L3.3357 1.223zm0-1.223c-.2085 0-.417.102-.5212.2038L.5212 2.5478c-.2085.1019-.3127.2038-.3127.4076C.1042 3.0574 0 3.2612 0 3.3631v.3057c0 .2038 0 .5095.1042.8153.1043.4076.2085.8153.3127 1.3248.2085.5096.417 1.0191.7297 1.6306.3127.6115.7297 1.223 1.2509 2.0382.5211.7134 1.2508 1.4268 1.9805 2.242 1.0423 1.0192 1.9805 1.8344 2.9186 2.344.9381.6115 1.772 1.0191 2.3975 1.3248.7296.3058 1.355.5096 1.772.5096C11.9873 16 12.3 16 12.5085 16h.3127c.2084 0 .3127-.1019.5212-.2038.2084-.1019.3127-.2038.4169-.3058l2.2932-2.242c.2085-.2038.3127-.4076.2085-.7134 0-.2038-.2085-.4076-.417-.6114l-3.1271-1.7325c-.1042-.1019-.3127-.1019-.5212-.1019-.3127 0-.5211.1019-.7296.3057l-1.0424 1.0191s-.1042 0-.1042.1019h-.3127c-.1043 0-.3127-.1019-.6255-.2038-.3127-.1019-.6254-.3057-1.0423-.6115-.417-.3057-.834-.7133-1.3551-1.2229-.5212-.7134-.9382-1.121-1.2509-1.5287-.3127-.4076-.5211-.7133-.6254-1.019-.2085-.3058-.3127-.5096-.3127-.8153v-.102c0-.1019 0-.1019.1042-.1019l.834-.8153c.1042-.1019.2084-.3057.3126-.5095 0-.2038 0-.4077-.1042-.6115L4.0653.4076 3.7524.102C3.6483 0 3.5441 0 3.3355 0z')

mixin iconAttache
  svg(viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg').iconAttache
    path.path-fill(d='M16.5 6v11.5c0 2.2-1.8 4-4 4s-4-1.8-4-4V5c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5v10.5c0 .5-.4 1-1 1s-1-.5-1-1V6H10v9.5c0 1.4 1.1 2.5 2.5 2.5s2.5-1.1 2.5-2.5V5c0-2.2-1.8-4-4-4S7 2.8 7 5v12.5c0 3 2.5 5.5 5.5 5.5s5.5-2.5 5.5-5.5V6h-1.5z')

mixin iconLike
  svg(viewBox='0 0 22 22', xmlns='http://www.w3.org/2000/svg').iconLike
    path.path-stroke(d='M20 8.4c-.5-.5-1.2-.7-1.9-.7h-4V4.4c0-1.3-.4-2.3-1.2-2.9-1.3-.9-3-.4-3-.4-.4.2-.6.4-.6.7v3.4c0 1-.5 2.3-1.5 3-.7.6-1.5.8-1.6.9h-.1c-.2-.3-.6-.5-1-.5H2.4C1.6 8.6 1 9.2 1 10v8.7c0 .8.6 1.4 1.4 1.4h2.7c.3 0 .7-.1.9-.3a3 3 0 0 0 2.1.8h8.4c.8 0 1.6-.2 2.1-.6.7-.5 1.2-1.3 1.3-2.2l1.1-6.7c.1-1-.3-2-1-2.7zM6.4 9.2v11')

mixin catalogBlock(title, img, city, price, priceOld, sertifacate, sale, favorite)
  .catalog__block
    .catalog__block-img
      if sertifacate
        .catalog__block-sertificate
          +iconSertificate
      if sale
        .catalog__block-sale -25%
      a(href="product-26102018.html")
      if img
        img(src= img, alt= title)
      else
        img(src="./img/catalog/catalog-no-photo.png", alt= title)
    .catalog__block-content
      if favorite
        a(href="#!").catalog__block-favorite
          +iconRemoveFavorite
          span.catalog__block-tooltip Удалить из избранных
      .catalog__block-title
        a(href="product-26102018.html")= title 
      if city
        .catalog__block-city= city
      if price
        .catalog__block-price= price
          if priceOld
            s= priceOld
            
mixin catalogBlockPaid(title, img, city, price, priceOld, sertifacate, sale, favorite, checked, top)
  .catalog__block.catalog__block--paid
    .catalog__block-img
      if sertifacate
        .catalog__block-sertificate
          +iconSertificate
      if checked
        .catalog__block-checked
          +iconLike
      if top
        .catalog__block-top
          +iconStar
      if sale
        .catalog__block-sale -25%
      a(href="product-26102018.html")
      if img
        img(src= img, alt= title)
      else
        img(src="./img/catalog/catalog-no-photo.png", alt= title)
    .catalog__block-content
      if favorite
        a(href="#!").catalog__block-favorite
          +iconRemoveFavorite
          span.catalog__block-tooltip Удалить из избранных
      .catalog__block-title
        a(href="product-26102018.html")= title 
      if city
        .catalog__block-city= city
      if price
        .catalog__block-price= price
          if priceOld
            s= priceOld

mixin socialFacebook
  svg(viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
    g(clip-rule='evenodd', fill-rule='evenodd')
      path(d='M256.23 512C396.81 512 512 396.81 512 256.23 512 115.184 396.81 0 256.23 0 115.184 0 0 115.184 0 256.23 0 396.81 115.184 512 256.23 512z', fill='#3A5BA2')
      path(d='M224.023 160.085c0-35.372 28.575-63.946 63.938-63.946h48.072v63.946h-32.199c-8.608 0-15.873 7.257-15.873 15.873v32.192h48.072v63.938h-48.072v144.22h-63.938v-144.22h-48.065V208.15h48.065v-48.065z', fill='#FFF')

mixin socialTwitter
  svg(viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
    g(clip-rule='evenodd', fill-rule='evenodd')
      path(d='M256.23 512C396.81 512 512 396.81 512 256.23 512 115.184 396.81 0 256.23 0 115.184 0 0 115.184 0 256.23 0 396.81 115.184 512 256.23 512z', fill='#1EBEF0')
      path(d='M276.635 137.407c-9.077 6.351-15.873 15.42-20.865 25.396l-2.265 5.898c-1.359 4.077-2.273 8.163-2.726 12.241-.453 2.265-.453 4.085-.906 5.898v3.625l.453 5.898.906 7.71H246.247c-22.224-.453-43.987-5.445-63.04-14.061l-11.334-5.437c-2.265-.914-4.078-2.273-6.351-3.632-12.694-7.257-24.028-16.78-34.012-27.208-6.343-6.804-12.241-14.061-17.232-21.771-5.438 10.437-8.616 22.677-8.616 35.379 0 4.531.453 9.069 1.359 13.6 0 2.265.453 4.085.914 5.898 4.078 13.6 11.334 25.849 21.31 34.918l4.992 4.539-6.351-1.367c-8.163-2.266-16.326-4.984-24.036-8.164.906 16.327 7.257 31.293 17.232 43.089 9.522 11.327 22.224 19.951 36.73 24.028l-16.779.906-14.054-.453c10.429 25.403 34.465 43.995 63.033 46.261-26.302 19.498-58.955 30.388-93.873 30.388 25.849 15.873 55.33 25.841 87.521 27.653h20.865c99.31-5.438 177.77-87.522 177.77-188.199v-9.522c3.625-3.171 7.25-6.343 10.89-9.975 8.608-7.71 16.326-16.78 22.67-26.302-10.437 6.804-22.67 10.429-36.277 10.429h-.906.453c12.232-8.163 21.763-20.404 26.747-34.465-9.515 4.992-20.404 8.616-31.294 11.796l-1.359.453-8.155 1.812c-11.795-12.702-28.575-20.865-47.167-20.865h-1.358c-4.984 0-9.983.453-14.968 1.367-7.249 1.812-14.514 4.984-20.404 8.616l-4.532 3.623z', fill='#FFF')

mixin socialInstagram
  svg(viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
    style.
      .st1{fill:#fff}
    g#Background_1_
      radialgradient#SVGID_1_(cx='50.158', cy='15.105', gradientTransform='matrix(.05234 -.9986 .8488 .04449 12 498.8)', gradientUnits='userSpaceOnUse', r='684.445')
        stop(offset='0', stop-color='#fed576')
        stop(offset='.263', stop-color='#f47133')
        stop(offset='.609', stop-color='#bc3081')
        stop(offset='1', stop-color='#4c63d2')
      path(d='M18.8 250.1v12.8C22.1 385.3 120.7 483.6 238 492.8h36.1c118-9.3 214.9-108.5 218.1-230.1v-12.6C489 126.3 388.7 25.9 267.9 19.7c-130-6.6-245.5 97.7-249.1 230.4z', fill='url(#SVGID_1_)')
    g#Symbol
      path.st1(d='M256.6 138.3c37.7 0 42.2.1 57.1.8 13.8.6 21.2 3 26.2 4.9 6.6 2.6 11.3 5.7 16.2 10.7 4.9 5 8 9.8 10.6 16.5 1.9 5.1 4.2 12.7 4.9 26.7.7 15.2.8 19.7.8 58.1s-.1 42.9-.8 58.1c-.6 14-2.9 21.6-4.9 26.7-2.6 6.7-5.6 11.5-10.6 16.5-4.9 5-9.6 8.1-16.2 10.7-5 2-12.5 4.3-26.2 4.9-14.9.7-19.4.8-57.1.8s-42.2-.1-57.1-.8c-13.8-.6-21.2-3-26.2-4.9-6.6-2.6-11.3-5.7-16.2-10.7-4.9-5-8-9.8-10.6-16.5-1.9-5.1-4.2-12.7-4.9-26.7-.7-15.2-.8-19.7-.8-58.1s.1-42.9.8-58.1c.6-14 2.9-21.6 4.9-26.7 2.6-6.7 5.6-11.5 10.6-16.5 4.9-5 9.6-8.1 16.2-10.7 5-2 12.5-4.3 26.2-4.9 14.9-.6 19.4-.8 57.1-.8m0-25.9c-38.4 0-43.2.2-58.2.9s-25.3 3.1-34.3 6.7c-9.3 3.7-17.2 8.6-25 16.6-7.9 8-12.7 16-16.3 25.5-3.5 9.1-5.9 19.6-6.6 34.9-.7 15.3-.8 20.2-.8 59.2s.2 43.9.8 59.2c.7 15.3 3.1 25.7 6.6 34.9 3.6 9.4 8.4 17.5 16.3 25.5s15.7 12.9 25 16.6c9 3.6 19.3 6 34.3 6.7 15.1.7 19.9.9 58.2.9s43.2-.2 58.2-.9 25.3-3.1 34.3-6.7c9.3-3.7 17.2-8.6 25-16.6 7.9-8 12.7-16 16.3-25.5 3.5-9.1 5.9-19.6 6.6-34.9.7-15.3.8-20.2.8-59.2s-.2-43.9-.8-59.2c-.7-15.3-3.1-25.7-6.6-34.9-3.6-9.4-8.4-17.5-16.3-25.5s-15.7-12.9-25-16.6c-9-3.6-19.3-6-34.3-6.7-15-.7-19.9-.9-58.2-.9z')
      path.st1(d='M256.6 182.3c-40.1 0-72.5 33-72.5 73.8s32.5 73.8 72.5 73.8 72.5-33 72.5-73.8-32.5-73.8-72.5-73.8zm0 121.7c-26 0-47.1-21.4-47.1-47.9s21.1-47.9 47.1-47.9 47.1 21.4 47.1 47.9-21.1 47.9-47.1 47.9z')
      ellipse.st1(cx='332', cy='179.4', rx='16.9', ry='17.2')

mixin blogBlock(category, title, content)
  .blog__block
    .blog__block-head= category 
    .blog__block-wrapper
      h2.blog__block-title
        a(href="blog-document.html")= title
      p= content
      a(href="blog-document.html").blog__block-more Читать далее

mixin pagination
  .pagination
    ul
      li(disabled): span
        +iconArrowLeft
      li.active: span 1
      li: a(href="#!") 2
      li: a(href="#!") 3
      li: a(href="#!")
        +iconArrowRight

mixin contentSeo
  .content__seo
    .content__seo-wrapper
      p(style="text-align: center") Ювелирная площадка Украины Brilli – все виды драгоценных изделий и камней
      p Выбирая подарок близким, а порой и самому себе, нередко люди обращают внимание именно на ювелирные изделия. Драгоценности – это не только солидный и изысканный подарок, а и надежная денежная инвестиция. Для тех, кто ценит свое время была создана площадка по продаже и покупке ювелирных изделий, драгоценных камней и украшений.
      p Как продать и купить?
      p Ювелирная площадка Украины представляет собой виртуальный магазин, где собраны самые разнообразные драгоценные товары и украшения. Здесь можно приобрести:
      ul
        li серьги;
        li браслеты мужские и женские;
        li часы (в том числе раритетные);
        li цепочки и цепи – колье;
        li комплекты украшений.
      p Купить ювелирные изделия на нашей площадке может любой желающий. Чтобы найти товар, задайте параметры поиска на сайте и выбирайте. Для приобретения понравившегося изделия достаточно связаться с продавцом (внимание на контактные данные, указанные на сайте).
      p Если вы хотите разметить объявление, сначала понадобится зарегистрироваться.
      p Для успешной продажи ювелирных изделий в Украине используйте некоторые советы:
      ul
        li Подробно описывайте ювелирное изделие – важно указать все его характеристики (проба металла, размер, наличие драгоценных камней и т.д.).
        li Сделайте подробные и качественные фотографии с разных ракурсов.
        li Если украшение определенного бренда, раритетное или коллекционное – укажите это.
        li Разместите информацию о наличии или отсутствии сертификата гомологической экспертизы.
        li Укажите стоимость товара и возможен ли торг.
        li Не забудьте указать контакты для быстрой связи.
        li Безопасность и гарантии
      p Торговая площадка Brilli создана для надежной продажи и покупки ювелирных изделий в Украине. При создании доски объявлений ювелирных изделия мы позаботились о многих важных вещах:
      ul
        li Продавать без посредников и скрытых комиссий может каждый желающий.
        li После сделки можно оставить подробный отзыв о продавце и купленном товаре.
        li Покупателям обеспечен легкий поиск, огромный выбор украшений и драгоценностей.
        li Возможность приобретения уникальных изделий по выгодной цене.
        li Возможность размещать свою рекламу на нашей торговой площадке.
        li Оптимизированный поиск по нужным разделам (драгоценные металлы, камни, ювелирные изделия и т.д.).
      p Ювелирная площадка Украины создана с пониманием, как обеспечить виртуальный комфорт и надежность при покупке или продаже ювелирных украшений. При разработке данного контента были учтены все риски и максимально сведены к нулю.
    .content__seo-btn
      a(href="#!").btn Подробнее

#popup.popup.mfp-hide
  .popup__header
    .popup__close
      +iconClose
  .popup__wrapper.text-center
    .popup__wrapper-title Войдите, чтобы наблюдать за понравившимся 
      br
      | Вам товарами
    a(href="enter-to-profile.html").btn.btn--color Авторизация
    .clear55
    p Или создать 
      a(href="enter-to-profile.html") учетную запись
  .popup__footer
    a(href="index.html") Нет спасибо

mixin page404
  svg(viewBox='0 0 123 96', fill='none', width="123" height="96" xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0)', fill='#A58A63')
      path(d='M9.5 7.7c-.5 0-.9.2-1.3.5-.3.4-.5.8-.5 1.3s.2.9.5 1.3c.3.3.8.5 1.3.5s.9-.2 1.3-.5c.3-.3.5-.8.5-1.3s-.2-.9-.5-1.3c-.4-.3-.8-.5-1.3-.5z')
      path(d='M113.4 0H9.5A9.6 9.6 0 0 0 0 9.5v77C0 91.7 4.3 96 9.5 96h103.9c5.2 0 9.5-4.3 9.5-9.5v-77c0-5.2-4.2-9.5-9.5-9.5zm5.9 86.5a6 6 0 0 1-5.9 5.9H9.5a5.8 5.8 0 0 1-5.9-5.9V19h115.7v67.5zm0-71.1H3.6V9.5c0-3.3 2.6-5.9 5.9-5.9h103.9c3.3 0 5.9 2.6 5.9 5.9v5.9z')
      path(d='M15.3 7.7c-.5 0-.9.2-1.3.5-.3.3-.5.8-.5 1.3s.2.9.5 1.3c.3.3.8.5 1.3.5s.9-.2 1.3-.5c.3-.3.5-.8.5-1.3s-.2-.9-.5-1.3c-.4-.3-.8-.5-1.3-.5zM21.1 7.7c-.5 0-.9.2-1.3.5-.3.3-.5.8-.5 1.3s.2.9.5 1.3c.3.3.8.5 1.3.5s.9-.2 1.3-.5c.3-.3.5-.8.5-1.3s-.2-.9-.5-1.3c-.4-.3-.9-.5-1.3-.5zM101.9 7.7H28.8c-1 0-1.8.8-1.8 1.8s.8 1.8 1.8 1.8h73.1c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8zM113.4 7.7h-3.8c-1 0-1.8.8-1.8 1.8s.8 1.8 1.8 1.8h3.8c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8zM18.1 64.1h16.2v15c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-15h4c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5h-4V31.6c0-.7-.5-1.3-1.1-1.5-.7-.2-1.4.1-1.7.7l-17.7 31c-.3.5-.3 1 0 1.5s.8.8 1.3.8zm16.2-26.9V61H20.7l13.6-23.8zM81.6 63.7h16.2v15c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-15h4c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5h-4V31.2c0-.7-.5-1.3-1.1-1.5-.7-.2-1.4.1-1.7.7l-17.7 31c-.3.5-.3 1 0 1.5s.8.8 1.3.8zm16.2-26.8v23.8H84.2l13.6-23.8zM61.5 80.3c9 0 16.3-11.3 16.3-25.1 0-13.9-7.3-25.1-16.3-25.1s-16.3 11.2-16.3 25c0 13.9 7.3 25.2 16.3 25.2zm0-47.4c7.4 0 13.4 10 13.4 22.3s-6 22.3-13.4 22.3-13.4-10-13.4-22.3 6-22.3 13.4-22.3z')
    defs
      clippath#clip0
        path(fill='#fff', d='M0 0h122.9v96H0z')

mixin iconCatalogNotFound
  svg(width='314', height='264', viewBox='0 0 314 264', fill='none', xmlns='http://www.w3.org/2000/svg').iconCatalogNotFound
    g(clip-path='url(#clip0)')
      path(d='M199.9 193.5l-48.2-59c-1.4-1.6-2.6-1.7-3.8-1l-1.5-1.9-1.5 1.2-2.7-3.4a72 72 0 0 0 1.4-92.9 71.7 71.7 0 0 0-101-10 72.1 72.1 0 0 0-10 101.3c24.5 30 68.2 35 98.8 11.7l2.2 2.7-1.5 1.2 1.5 1.8c-.9 1.1-1 2.3.4 4l48.2 58.8c2.7 3.4 7.6 4 10.8 1.3l6-4.9a7.8 7.8 0 0 0 .9-11zM42.2 119.9A59.6 59.6 0 0 1 50.5 36a59.3 59.3 0 0 1 83.6 8.3c20.8 25.4 17 63-8.3 83.8a59.3 59.3 0 0 1-83.6-8.3z', fill='#A58A63')
    g(filter='url(#filter0_dd)')
      circle(cx='214.5', cy='145.5', r='61.5', fill='#A58A63')
      circle(cx='214.5', cy='145.5', r='59.5', stroke='#fff', stroke-width='4')
    path(d='M195.2 145.4c0 1.3-.2 2.5-.6 3.5a7.8 7.8 0 0 1-4.4 4.6 9 9 0 0 1-3.5.7 9 9 0 0 1-3.5-.7 8 8 0 0 1-4.4-4.6 10 10 0 0 1-.6-3.5c0-1.3.2-2.5.6-3.6a8 8 0 0 1 4.4-4.6c1-.4 2.2-.6 3.5-.6 1.3 0 2.4.2 3.5.6a7.8 7.8 0 0 1 4.4 4.6c.4 1.1.6 2.3.6 3.6zm-2.5 0c0-1-.2-2-.4-2.8-.3-.8-.7-1.5-1.3-2-.5-.7-1.1-1.1-1.8-1.4-.8-.3-1.6-.5-2.5-.5-1 0-1.7.2-2.5.5-.7.3-1.4.7-1.9 1.3a6 6 0 0 0-1.2 2.1c-.3.8-.4 1.8-.4 2.8 0 1 .1 2 .4 2.8a5.3 5.3 0 0 0 3.1 3.4c.8.3 1.6.4 2.5.4 1 0 1.7-.1 2.5-.4.7-.3 1.3-.8 1.9-1.3.5-.6.9-1.3 1.2-2.1.2-.8.4-1.8.4-2.8zm4.2 7c0-.3.2-.7.4-1 .3-.2.7-.3 1.1-.3a1.5 1.5 0 0 1 1.4 1l.1.7-.1 1.2-.5 1.1a6.6 6.6 0 0 1-1.7 2.2l-.4-.4-.1-.2v-.1l.1-.4a11 11 0 0 0 .7-.8 4.4 4.4 0 0 0 .6-1.4h-.1l-.6-.1c-.2 0-.3-.2-.5-.3l-.3-.5v-.6zm22.2-10.6V154h-2.3v-5.6h-5.6v5.6h-2.3v-12.2h2.3v4.8h5.6v-4.8h2.3zm8.4-.2c.7 0 1.4.2 2 .4a4.5 4.5 0 0 1 2.7 2.8c.2.6.4 1.4.4 2.3l-.1.7-.5.2h-8c0 .7.1 1.4.3 2l.8 1.3c.3.4.7.6 1.2.8a4.5 4.5 0 0 0 3.9-.3l.6-.4.5-.2.4.2.7.9-1 .8a6.6 6.6 0 0 1-2.5 1h-1.3c-.9 0-1.6 0-2.4-.4a5.2 5.2 0 0 1-3-3.2 8.4 8.4 0 0 1 0-5.2c.2-.7.6-1.4 1-2 .6-.5 1.2-.9 1.9-1.2a6 6 0 0 1 2.4-.5zm0 1.7c-1 0-1.8.3-2.4.9-.5.5-.9 1.3-1 2.4h6.4c0-.5 0-1-.2-1.3-.1-.4-.3-.8-.6-1-.2-.4-.5-.6-1-.8l-1.2-.2zm6-1.5h11.6v1.7h-4.6V154h-2.3v-10.5h-4.6v-1.7zm16.3-5v6.8a22.7 22.7 0 0 1-.4 4.4H248a132.8 132.8 0 0 1-.3-4.4v-6.8h2.2zm-2.7 15.8l.1-.6c0-.2.2-.3.3-.5l.5-.3a1.6 1.6 0 0 1 1.2 0c.2 0 .4.2.5.3a1.5 1.5 0 0 1 .5 1.1l-.1.6a1.6 1.6 0 0 1-.9.9h-.6a1.6 1.6 0 0 1-1-.4l-.4-.5-.1-.6z', fill='#fff')
    defs
      filter#filter0_dd(x='115', y='65', width='199', height='199', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
        feflood(flood-opacity='0', result='BackgroundImageFix')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dy='19')
        fegaussianblur(stdDeviation='19')
        fecolormatrix(values='0 0 0 0 0.647059 0 0 0 0 0.541176 0 0 0 0 0.388235 0 0 0 0.3 0')
        feblend(in2='BackgroundImageFix', result='effect1_dropShadow')
        fecolormatrix(in='SourceAlpha', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dy='15')
        fegaussianblur(stdDeviation='6')
        fecolormatrix(values='0 0 0 0 0.647059 0 0 0 0 0.541176 0 0 0 0 0.388235 0 0 0 0.22 0')
        feblend(in2='effect1_dropShadow', result='effect2_dropShadow')
        feblend(in='SourceGraphic', in2='effect2_dropShadow', result='shape')
      clippath#clip0
        path(fill='#fff', transform='rotate(8.8 14.1 182.9)', d='M0 0h202v184H0z')

mixin iconCheckRound
  svg(width='96', height='96', viewBox='0 0 96 96', fill='none', xmlns='http://www.w3.org/2000/svg').iconCheckRound
    g(clip-path='url(#clip0)', fill='#A58A63')
      path(d='M47.9 0C21.5 0 0 21.5 0 47.9s21.5 47.9 47.9 47.9 47.9-21.5 47.9-47.9S74.3 0 47.9 0zm0 92C23.6 92 3.8 72.2 3.8 47.9S23.6 3.8 47.9 3.8 92 23.6 92 47.9 72.2 92 47.9 92z')
      path(d='M61.1 37.8L42.3 56.5l-7.5-7.6a2.9 2.9 0 0 0-4.2 0 2.9 2.9 0 0 0 0 4.2l8.1 8.1a5.29 5.29 0 0 0 7.5.1l19.3-19.2a2.9 2.9 0 0 0 0-4.2c-1.4-1.2-3.3-1.2-4.4-.1z')
    defs
      clippath#clip0
        path(fill='#fff', d='M0 0h95.8v95.8H0z')

mixin iconPaymentOrder
  svg(width='84', height='96', viewBox='0 0 84 96', fill='none', xmlns='http://www.w3.org/2000/svg').iconPaymentOrder
    path(fill-rule='evenodd', clip-rule='evenodd', d='M81.8 0H20c-1 0-1.8.8-1.8 1.8v35.7H1.8c-1 0-1.8.8-1.8 1.8V85c0 6 4.9 10.9 10.9 10.9h61.8c6 0 10.9-4.9 10.9-10.9V1.8c0-1-.8-1.8-1.8-1.8zM3.6 85V41.1h14.6V85c0 4-3.3 7.3-7.3 7.3S3.6 89 3.6 85zM80 85c0 4-3.3 7.3-7.3 7.3H19c1.7-1.9 2.8-4.5 2.8-7.3V3.6H80V85zm-8.6-65.9h-23c-1 0-1.8.8-1.8 1.8s.8 1.8 1.8 1.8h23c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8zM33 20.9l8.6-9.4c.7-.7 1.8-.8 2.5-.1.7.6.8 1.8.1 2.5l-9.9 10.8c-.3.4-.8.6-1.3.6s-1-.2-1.3-.6l-4-4.2c-.7-.7-.6-1.8.1-2.5s1.8-.6 2.5.1l2.7 2.8zm38.4 17.6h-23c-1 0-1.8.8-1.8 1.8s.8 1.8 1.8 1.8h23c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8zM33 41.1l8.6-9.4c.7-.7 1.8-.8 2.5-.1.7.6.8 1.8.1 2.5l-9.9 10.8c-.3.4-.8.6-1.3.6s-1-.2-1.3-.6l-4-4.2c-.7-.7-.6-1.8.1-2.5s1.8-.6 2.5.1l2.7 2.8zm38.4 16.8h-23c-1 0-1.8.8-1.8 1.8s.8 1.8 1.8 1.8h23c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8zM33 61.3l8.6-9.4c.7-.7 1.8-.7 2.5-.1s.8 1.8.1 2.5l-9.9 10.8c-.3.4-.8.6-1.3.6s-1-.2-1.3-.6l-4-4.2c-.7-.7-.6-1.8.1-2.5s1.8-.6 2.5.1l2.7 2.8zm37.9 16.8h-23c-1 0-1.8.8-1.8 1.8s.8 1.8 1.8 1.8h23c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8zm-38.4 3.5l8.6-9.4c.7-.8 1.8-.8 2.5-.1.7.6.8 1.8.1 2.5l-9.9 10.8c-.3.4-.8.6-1.3.6s-1-.2-1.3-.6l-4-4.2c-.7-.7-.6-1.8.1-2.5s1.8-.6 2.5.1l2.7 2.8z', fill='#A58A63')
